.corto {
    margin-top: 1%;
    margin-left: 18%;
}

.invitaitesp {
    display: flex;
    margin-left: 30%;
    margin-top: 5%;
}

.tituloITESP {
    margin-top: 5%;
    font-size: 300%;
}

.trescolum {
    margin-top: 2%;
}