.corto {
    margin-top: 3%;
    margin-left: 18%;
}

.invitaitesp {
    display: flex;
    margin-left: 30%;
    margin-top: 7%;
}

.ITESP {
    margin-right: 2%;
}

.tituloITESP {
    margin-top: 40%;
    font-size: 300%;
}

.trescolum {
    margin-top: 2%;
}

.Infoveterinaria {
    text-align: justify;
}

.centrar3col {
    justify-content: center;
}