h1 {
    color: #D91512;
}

button {
    color: white;
    background-color: green;
}

.header > * {
    display: inline-block;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;

}

li {
    display: inline;
}