h1 {
    color: #D91512;
}

button {
    color: white;
    background-color: green;
}

.header{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}

.header > * {
    display: inline-block;
    

}

.logo{
    width: 11%;
}

.navbarr{
    width: 70%;
}

.actions{
    width: 15%;
}

li {
    display: inline;
}