/*Las etiquetas se llaman con su mismo nombre y las clases se llaman con un . es decir .clase*/
h1 {
    color: #D91512;
}

button {
    color: white;
    background-color: green;
}

.header{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.header > * {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    

}

.actions *{
    margin-left: 20px;
    margin-right: 0px;
}

.logo{

}

.navbarr{
    /*text-align: center;
    color: black;
    font-weight: 500;*/
}

.actions{
    color: black;
    font-weight: 500;
    text-align: left;
}

li {
    display: inline;
}

.publish h3{
    color: #D1379E;
}

.video{
    display: flex;
    width: 100%;
    margin-left: 100px;
    margin-right: 50px;
    align-items: center;
}

.features {
    background-color: #ebbfe0a8;
    display: grid;
    grid-template-columns: repeat(2, 700px); /* (2, 300px 300px) --> Agregar dos columnas de 300 pixeles  */
    grid-template-rows: repeat(2, 600px);
}

/*.article .feature-card{
    background-color: #2d30da;
    margin: 10px;
    width: 40px;
    height: 50px;
}*/

.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #ffffff;
    border: 2px solid #221303f1;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content {
    padding: 30 20 40 40;
    flex: 2;
}

.features .feature-card .feature-content >* {
    margin-bottom: 1rem;
}

.features .feature-card .feature-content img {
    width: 40px;
    height: 40px;
}

.features .feature-card .feature-content h2 {
    font-size: 30px;
    color: #d91297;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.features .feature-card .feature-content p {
    font-size: 16px;
    color: #4e4e4e;
}

.Perfil {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    align-items: center;
}

.Promo {
    margin-left: 20px;
    margin-right: 0px;
    display: flex;
}

article .Anuncio {
    /*display: grid;*/
    /*grid-template-columns: 200px;
    grid-template-rows: 200px;*/
}